@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body {
    background-color: #171616;
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }
  
  header{
    background-color: #057c4d;
    color: #ffcc00;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    border: 2px solid #0ebf78;
    max-width: 600%;
    border-radius: 13px 70px;
    border-style: groove;
  }

  button{
    max-width:  40%;
    height: 100px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 74px;
    background-color: #ebfff7;
    font-weight: 600;
    text-transform: uppercase;
    color: #e35604;
  }
  
  #container {
    background-color: #171616;
    display: flex;
    cursor: crosshair;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 20px auto;
  }
  
  .square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid #ffcc00;
  }
  
  